:root{
    --brown: #8C6253;
    --darkBrown: #383838;
    --lightBrown: #d6a18e;
}
@font-face {
    font-family: "classic";
    src: url('../ClassicismoDEMO.otf');
}
.varela-round-regular {
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.filter{
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    margin-top: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.brown-text{
    color: var(--brown);
}
.gray-text{
    color: var(--darkBrown);
}
.container{
    max-width: 1200px;
    margin-left: 10px;
    margin-right: 10px;
    margin: auto;
}
.heading{
    font-family: "classic";
}
.khata-container{
    margin-top: 10px;
    width: 100%;
    height: calc(100vh - 120px);
    padding: 7px;
    border-radius: 7px;
    background-color: var(--lightBrown);
    display: flex;
    flex-wrap:wrap;
}
.alert-box{
    width: 100%;
    max-width: 400px;
    height: calc(100% - 20px);
    border-radius: 20px;
    background-color: var(--lightBrown);
    padding: 10px;
}
a{
    text-decoration: none;
}
.card{
    max-width: 300px;
    max-height: 70px;
    width: 100%;
    padding: 7px;
    margin: 7px;
    border: 2px solid var(--brown);
    border-radius: 7px;
    text-decoration: none;
    color: var(--brown);
    background-color: #ffded3;
    flex-grow: 1;
}
.card p{
    text-decoration: none;
}
form{
    width: 100%;
    position: relative;
}
textarea{
    max-width: 1200px;
    width: 100%;
    height: calc(100% - 60px);
    border: 2px solid var(--brown);
    background-color: var(--lightBrown);
    padding: 7px;
    border-radius: 5px;
}