<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Khata Book</title>
    <link rel="stylesheet" href="/style/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container varela-round-regular " style="margin-top: 10px;">
        <h1 class="heading"><span class="brown-text">Khata</span><span class="gray-text">Book</span></h1>
        <div style="display: flex;justify-content: flex-end;">
            <div style="width: 35px;aspect-ratio: 1; cursor: pointer;">
                <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor"
                class="bi bi-plus-circle-fill" viewBox="0 0 16 16" style="color: #383838;">
                <path
                    d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3z" />
            </svg>
            </div>
        </div>
        <div class="khata-container">
            <% files.forEach((file)=>{ %>
                <a href="/note/view/<%= file %>"><%= file %></a>
            <% }) %>
        </div>
    </div>
    
</body>

</html>